body{
  background-color: rgb(40, 39, 39);
}


.calculator{
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
  margin-top: 5%;
  margin-left: 37%;
  border: 5px solid;
  border-radius: 10px;
  width: 25%;
}

.calculator > button{
  background-color: white;
  border: 3px solid rgb(18, 18, 18);
  border-radius: 1.5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.calculator > button:hover{
  background-color: rgb(229, 226, 226);
}

.span-two{
  grid-column: span 2;
}

.calculator > #orange{
  background-color: orange;
}

.calculator > #orange:hover{
  background-color: rgb(226, 150, 7);
  transition: all 0.2;
}

.outputs{
  grid-column: 1 / -1;
  background-color: rgb(18, 18, 18);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.operation{
  font-size: 1.9rem;
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.resu{
  font-size: 2.5rem;
  margin-right: 10px;
  margin-left: 10px;
}

